.box {
    background-color: aquamarine;
    position: absolute;
    cursor: move;
    color: black;
    width: 200px;
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;
  }